{
	"server": "irc.homelien.no",
	"botnick": "someBotNick",
	"channels": ["#someChannel"],
	"operators": {
		"someChannel": [
			{
				"nick": "some_nick",
				"user": "~some_host",
				"host": "127.0.0.1"
			}
		]
	},
	"lastfm": {
		"api_key": "key goes here",
		"secret": "secret goes here"
		// Registered to lebchen, application name complete_idiot
	}
}
